/* styles.css */
.custom-dropdown-toggle {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: relative;
  }
  
  .custom-dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .custom-dropdown-menu.show {
    display: block;
  }
  
  .blue-button {
    background-color: blue;
    color: white;
  }
  
  .arrow {
    display: inline-block;
    margin-left: 5px; /* Adjust as needed */
  }
  
  .arrow.up::before {
    content: '\25B2'; /* Unicode character for an upward arrow */
  }
  
  .arrow.down::before {
    content: '\25BC'; /* Unicode character for a downward arrow */
  }
  